sourceCode/WCFClient/Service References/ServiceStudent/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://nsun-shadow.com" />
  <xs:complexType name="ArrayOfanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfanyType" nillable="true" type="tns:ArrayOfanyType" />
  <xs:complexType name="ArrayOfKeyValueOfstringKeyValuePairOfstringConditionJnTejB4JtwCi8m_S7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringKeyValuePairOfstringConditionJnTejB4JtwCi8m_S7">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" name="Value" type="q1:KeyValuePairOfstringConditionJnTejB4J" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringKeyValuePairOfstringConditionJnTejB4JtwCi8m_S7" nillable="true" type="tns:ArrayOfKeyValueOfstringKeyValuePairOfstringConditionJnTejB4JtwCi8m_S7" />
  <xs:complexType name="ArrayOfKeyValueOfExpressionClipbooleanrIZo_Semb">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfExpressionClipbooleanrIZo_Semb">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://nsun-shadow.com" name="Key" nillable="true" type="q2:ExpressionClip" />
            <xs:element name="Value" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfExpressionClipbooleanrIZo_Semb" nillable="true" type="tns:ArrayOfKeyValueOfExpressionClipbooleanrIZo_Semb" />
</xs:schema>