sourceCode/WCFClient/Service References/ServiceStudent/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://nsun-shadow.com" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RemotingModel" />
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://nsun-shadow.com" minOccurs="0" name="criteria" nillable="true" type="q1:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RemotingModel" minOccurs="0" name="GetStudentResult" nillable="true" type="q2:ArrayOfStudentRemotingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RemotingModel" minOccurs="0" name="student" nillable="true" type="q3:StudentRemotingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>