sourceCode/WCFClient/Service References/ServiceStudent/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://nsun-shadow.com" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfstringConditionJnTejB4J">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
          <GenericParameter Name="Condition" Namespace="http://nsun-shadow.com">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://nsun-shadow.com" name="value" nillable="true" type="q1:Condition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringConditionJnTejB4J" nillable="true" type="tns:KeyValuePairOfstringConditionJnTejB4J" />
  <xs:complexType name="KeyValuePairOfExpressionClipbooleanrIZo_Semb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExpressionClip" Namespace="http://nsun-shadow.com">
          </GenericParameter>
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://nsun-shadow.com" name="key" nillable="true" type="q2:ExpressionClip" />
      <xs:element name="value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfExpressionClipbooleanrIZo_Semb" nillable="true" type="tns:KeyValuePairOfExpressionClipbooleanrIZo_Semb" />
</xs:schema>